/* #tim-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.anggota {
  flex: 0 0 300px;
  padding: 20px;
  margin: 10px;
  border: 2px solid #3498db;
  border-radius: 8px;
  text-align: center;
}

.anggota img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
 */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.anggota {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px; /* Tambahkan margin-bottom di sini */

}

.anggota img {
  width: 170px;
  height: 200px;
  border-radius: 25%;
  margin-bottom: 50px;
}

.anggota h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.anggota p {
  font-size: 18px;
  margin-bottom: 10px;
}
